<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0",useab>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>钉钉挪车</title>
    <link rel="stylesheet" href="css/main.css">
    <style> 
            body{
                background-color: #DD8200; 
                }
    </style>
</head>
<body>
    <div class="model2">
        <div class="model-one">
            <div class="one-title">
                   <img src="img/two_title.png" alt="">
            </div>
            
            <form action="" class="form">

                <div class="items-other">
                    <div>
                        <p> 云南省 </p>
                        <img src="img/down.png" alt="">
                    </div>
                    <div>
                        <p>昆明市 </p>
                        <img src="img/down.png" alt="">
                    </div>
                    <div>
                        <p> 西山区 </p>
                        <img src="img/down.png" alt="">
                    </div>
                </div>

                

                <div class="items"> 
                    <input type="text" placeholder="请输入手机号">
                    <div>
                        <img src="img/mobile.png" alt="">
                    </div>
                </div>

                <div class="items">
                        <input type="text" placeholder="请输入详细地址">
                        <div>
                            <img src="img/location.png" alt="">
                        </div>
                </div>
                    
                    <p>请填写正确的信息</p>
            </form>

           

            <button>申请挪车码 </button>

            <div class="one-info">
                    <input type="radio">我已阅读《钉钉挪车用户第三方协议》
            </div>
            
            

        </div>
        <div></div>
       

</div>
</body>
</html>